#### INTRODUCCIÓN A PYTHON

In [ ]:
# Introducción a la programación en Python

# Definición de variables
entero = 100
flotante = 10.5
cadena = "Hola mundo de nuevo, COMO ESTAN"

# Operaciones básicas
suma = entero + 5  # Suma
resta = entero - 3  # Resta
multiplicacion = entero * 2  # Multiplicación
division = entero / 2  # División

In [11]:
print(cadena)

Hola mundo de nuevo

In [12]:
print('suma =',suma)

suma = 105

In [13]:
mi_lista =[1,2,3,4,'penultimo',20]

In [14]:
# Ciclo for
for numero in mi_lista:
    print("Número en la lista:", numero)

Número en la lista: 1
Número en la lista: 2
Número en la lista: 3
Número en la lista: 4
Número en la lista: penultimo
Número en la lista: 20

In [15]:
# DEFINICION DE UNA FUNCION EN PYTHON

In [16]:
def operaciones_aritmeticas(a, b):
    suma = a + b
    resta = a - b
    multiplicacion = a * b
    division = a / b
    nueva = a**2-(a+b)

    return suma, resta, multiplicacion, division, nueva

# Datos numeros
num1 = 10 
num2 = 5
print('Numeros:')
print(num1,num2)
resultado = operaciones_aritmeticas(num1, num2)
print("Suma:", resultado[0])
print("Resta:", resultado[1])
print("Multiplicación:", resultado[2])
print("División:", resultado[3])
print("Nueva op:",resultado[4])

Numeros:
10 5
Suma: 15
Resta: 5
Multiplicación: 50
División: 2.0
Nueva op: 85

#### LIBRERIA DATA FRAME

In [17]:
# USO LIBRERIA PANDAS ( DATAFRAME)

# Importación de la biblioteca pandas
import pandas as pd

# Creación de un DataFrame
datos = {
    'Nombre': ['Ana', 'Luis', 'Marta', 'Carlos'],
    'Edad': [27, 34, 29, 40],
    'Ciudad': ['Cochabamba', 'La Paz', 'Santa Cruz', 'Sucre']
}

df = pd.DataFrame(datos)  # convertir a tipo dataframe

# Mostrar el DataFrame
print("DataFrame original:")
print(df)

DataFrame original:
   Nombre  Edad      Ciudad
0     Ana    27  Cochabamba
1    Luis    34      La Paz
2   Marta    29  Santa Cruz
3  Carlos    40       Sucre

In [18]:

# Filtrar el DataFrame
df_filtrado = df[df['Edad'] > 30]
print("Filtrado edad > 30:")
print(df_filtrado)
print('')

Filtrado edad > 30:
   Nombre  Edad  Ciudad
1    Luis    34  La Paz
3  Carlos    40   Sucre